:root {

    /**Colors**/

    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --DarkBlue: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);
    --DarkGRIEsh: hsl(228, 12%, 48%);


    /**fonts**/
    --primary: 'Fraunces', serif;
    --secondary: 'Montserrat', sans-serif;



}


/**Generals**/

html {

    box-sizing: border-box;
    /* font-size: 62.5%;  */
    background-color: var(--Cream);


}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.attribution {
    font-size: 11px;
    text-align: center;
    padding: .3rem;
    font-family: var(--secondary);
}

.attribution a {
    color: var(--DarkGRIEsh)
}


img {
    max-width: 100%;
}

/**typography**/


h1 {
    font-family: var(--primary);
    color: black;
    font-size: 2rem;
    line-height: 2rem;


}

p {
    font-family: var(--secondary);
    color: var(--DarkGRIEsh);
    font-size: .9rem;
    line-height: 1.5rem;


}

h3 {
    font-family: var(--secondary);
    color: var(--DarkGRIEsh);
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3rem;
    line-height: .1rem;
}


/**Peroduct**/


.perfume {
    display: flex;
    justify-content: center;
    align-items: center;


}





.perfume__container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
}




.perfume__image {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
    width: 300px;
    height: 500px;


}

.perfume__info {
    background-color: var(--white);
    border-radius: 0 1rem 1rem 0;
    width: 300px;
    height: 500px;
    padding: 2rem;


}



.price {
    color: var(--DarkCyan);
    font-family: var(--primary);
    font-size: 2rem;
    line-height: .1rem;
}

.price span {
    color: var(--DarkGRIEsh);
    font-family: var(--secondary);
    font-size: 1rem;
    text-decoration: line-through;
}

.submit {
    background-color: var(--DarkCyan);
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    font-family: var(--secondary);
    color: var(--white);

}

.submit:active {
    background-color: var(--DarkBlue);
}




@media(max-width:768px) {
    .perfume__container {
        flex-direction: column;
    }

    .perfume__image {
        background-image: url(./images/image-product-mobile.jpg);
        border-radius: 1rem 1rem 0 0;
        width: 400px;
        height: 300px;

    }

    .perfume__info {
        background-color: var(--white);
        border-radius: 0 0 1rem 1rem;
        padding: 2rem;
        width: 400px;
        height: 430px;
        padding: 2rem;
    }
}